[Unit]
Description=Container Routes Setup Service

[Service]
#Type=oneshot
User=root
ExecStart=/etc/containers-networking/routes-local.sh "start"
ExecStop=/etc/containers-networking/routes-local.sh "stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
