[Unit]
Description=Container Routes Setup Service
Wants=network-online.target
After=network.target network-online.target

[Service]
#Type=oneshot
User=root
ExecStart=/etc/networking-containers/routes-local.sh "start"
ExecStop=/etc/networking-containers/routes-local.sh "stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
