[Unit]
Description=General Local Routes Setup Service
Wants=network-online.target
After=network.target network-online.target

[Service]
#Type=oneshot
User=root
ExecStart=/etc/networking-general/routes-local.sh "start"
ExecStop=/etc/networking-general/routes-local.sh "stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
