[Unit]
Description=SNID Server Service
Requires=snid-local-routes.service snid-external-routes.service
After=snid-local-routes.service snid-external-routes.service

[Service]
User=snid
Group=snid
ExecStart=/etc/networking-snid/servers-local.sh "start"
ExecStop=/etc/networking-snid/servers-local.sh "stop"

[Install]
WantedBy=multi-user.target
