[Unit]
Description=SNID Local Routes Setup Service

[Service]
#Type=oneshot
User=root
ExecStart=/etc/snid/routes-local.sh "start"
ExecStop=/etc/snid/routes-local.sh "stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
