[Unit]
Description=SNID External Servers Routes Setup Service
Wants=network-online.target
After=network.target network-online.target
Upholds=general-external-routes.service

[Service]
#Type=oneshot
User=root
ExecStart=/etc/networking-snid/routes-external.sh "start"
ExecStop=/etc/networking-snid/routes-external.sh "stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
